@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans);
  --font-serif: var(--font-nanum-myeongjo);
  --font-gowun: var(--font-gowun-batang);
}

body {
  background: var(--background);
  color: var(--foreground);
}
